
@media (max-width: 640px) {

    /*page sobre mim*/

    .img-avatar {
        width: 100px;
        height: 100px;

    }

    #sobre-mim p {
        font-size: 1rem;
        max-width: 240px;
    }

    .btn-sobreMim {
        gap: 0.5rem;
        font-size: 1.5em;
    }

    .cv-linkedin-ico a {
        width: 130px;
        height: 28px;
        line-height: 28px;
    }

    .img-sobre {
        width: 15px;
        height: 15px;
    }

    .avatar {
        gap: 0.8rem;
    }

    .avatar h3 {
        font-size: .5em;
    }

    /*page projetos*/


    .slider-container {
        width: 80%;
    }


    .link-projeto a {
        width: 110px;
        height: 24px;
        line-height: 24px;
        font-size: 0.6em;
        gap: 0.3em;
    }

    .img-link-projeto {
        width: 15px;
        height: 15px;
        margin-right: 4px;
    }

    /*fim page projetos*/

    /*page skill*/

    .principal-skill, .basic-skill {
        width: 65%;
        gap: 3em;
    }

    .icons {
        gap: 5em;
    }

    .icons i {
        font-size: 7em;
    }

    .h2-ico {
        font-size: .7rem;
        margin-top: 0.7em;
    }

    /*fim page skill*/

    /*page contato*/

    .ul-contato {
        gap: 3em;
    }


    .li-contato a {
        font-size: 2.6em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .img-ico-contato {
        width: 50px;
        height: 50px;
    }

}