@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --primary-color: #1a18187a;
    --secundary-color: #FFC900;
    --font-primary: 'Press Start 2P', sans-serif;
    --default-gap: 1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    width: 100%;
    font-family: var(--font-primary);
    color: white;
    overflow: hidden;
    position: relative; /* Ou remova completamente se não precisar */
}
#main-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#start-screen {
  opacity: 1;
  transition: opacity 1s ease;
}
#start-screen.fade-out {
  opacity: 0;
}


.section-container{
    display: flex;
    height: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/pagina1.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.5) blur(3px) saturate(120%); /* Aqui você ajusta o filtro desejado */
    z-index: -1; /* Deixa atrás do conteúdo */
    transition: background-image 0.2s linear;
}

.maxWidth{
    background-color: var(--primary-color);
}
.top_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4em;
    z-index: 10;
}

.top_header_logo {
    width: 300px;
    height: 51px;
    margin: auto;
    background-image: url(/assets/img/background-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.top_header_logo h1{
    color: black;
    line-height: 51px;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-shadow: 2px 1px 0px white;
}

.top_header_nav ul {
    display: flex;             /* Flexbox ativo */
    gap: 2rem;                 /* Espaço entre os itens */
    list-style: none;
    margin-right: 5em;
    padding: 0;
}
.top_header_nav{
    margin: auto;
}
.top_header_nav a {
    display: inline-block;
    width: 184px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    background-image: url(/assets/img/background-link-nav.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    text-transform: uppercase;
}

.top_header_nav a:hover {
    background-image: url(/assets/img/background-link-nav-hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secundary-color);
    text-shadow: 1px 2px 0px black;
    transform: translateY(-4px);
    transition: 0.1s linear;
}
.li-nav.active {
    background-image: url(/assets/img/background-link-nav-hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secundary-color);
    text-shadow: 1px 2px 0px black;
    transform: translateY(-4px);
    transition: 0.1s linear;
    border-bottom: 2px solid var(--secundary-color);
}


.img-avatar{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 2em;
}

.conteiner {
    display: flex;
    align-items: center;      /* centraliza verticalmente */
    justify-content: center;  /* centraliza horizontalmente */
    min-width: 100vw;
    height: 100%;
    scroll-snap-align: start;
}

#sobre-mim, #projetos, #contato, #skills, #home {
    position: relative;
    display: flex;
    width: 1000px;
    height: 547px;
    padding: 3rem;
    gap: 2rem;
    overflow: hidden; /* garante que o overlay não ultrapasse */
}

#sobre-mim .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/background-text.png);
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* aqui controla a opacidade da imagem */
    z-index: 0;
}

#sobre-mim > *:not(.overlay) {
    position: relative;
    z-index: 1; /* faz com que o conteúdo apareça acima da imagem */
}

#sobre-mim p {
    font-size: 1.6rem;
    max-width: 500px;
    line-height: 1.5;
    margin-top: 4em;
}
.text-sobre{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 5em;
}

.h1-sobre-mim, .h1-projetos {
    font-size: 3.6rem;
    text-transform: uppercase;
    margin-top: 0.5em;
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    gap: 1rem; /* Espaçamento entre a imagem e o texto, opcional */
    justify-content: center;
    color: var(--secundary-color);
}

.btn-sobreMim{
    display: flex;
    margin: auto;
    gap: 2rem;
    font-size: 2em;
}

.cv-linkedin-ico a{
    display: inline-block;
    text-decoration: none;
    width: 184px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    background-image: url(/assets/img/background-cv.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-weight: bold;
}
.cv-linkedin-ico a:hover {
    background-image: url(/assets/img/background-cv-hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-shadow: 1px 1px 0px var(--secundary-color);
    transform: translateY(-2px);
    transition: 0.1s linear;
}

.img-seta-h1{
    width: 50px;
    height: 36px;
    animation: img-seta-h1 1s infinite;
}
@keyframes img-seta-h1 {
    30% {opacity: 0%;}
}

.avatar{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
}
.avatar h3{
    text-align: center;
    font-size: 1.5em;
    color: var(--secundary-color);
    text-shadow: 1px 1px 1px var(--primary-color);
    opacity: 0.3;
    text-transform: uppercase;
}

/*page projetos*/
#projetos .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/background-text.png);
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* aqui controla a opacidade da imagem */
    z-index: 0;
}

#projetos > *:not(.overlay) {
    position: relative;
    z-index: 1; /* faz com que o conteúdo apareça acima da imagem */
}
.container-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-template-rows: repeat(2, auto);   /* 2 linhas */
    width: 100%;
    z-index: 1;
    margin-top: 3em;
    gap: 2em;
}
.grid{
    background-image: url(/assets/img/background-projetos.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 375px;
    height: 200px;
    display: flex;
    margin-left: 5em;
    margin-right: 5em;
}
.title-projetos{
    margin: auto;
}


/*page skills*/
#skills .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/background-text.png);
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* aqui controla a opacidade da imagem */
    z-index: 0;
}

#skills > *:not(.overlay) {
    position: relative;
    z-index: 1; /* faz com que o conteúdo apareça acima da imagem */
}

/*page contato*/
#contato .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/background-text.png);
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* aqui controla a opacidade da imagem */
    z-index: 0;
}

#contato > *:not(.overlay) {
    position: relative;
    z-index: 1; /* faz com que o conteúdo apareça acima da imagem */
}
/*page home*/
#home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 0;
}
.tex-home{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    gap: 3rem;
    text-shadow: 1px 2px 0px black;
}
#home h1 {
    font-size: 8rem;
    animation: img-seta-h1 1s infinite;
    color: var(--secundary-color);
    text-transform: uppercase;
}

#home h2{
    font-size: 4rem;
}
