@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --primary-color: #1a18187a;
    --secundary-color: #FFC900;
    --font-primary: 'Press Start 2P', sans-serif;
    --default-gap: 1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
}
body{
    height: 100vh;
    font-family: var(--font-primary);
    color: white;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/pagina1.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.5) blur(3px) saturate(120%); /* Aqui você ajusta o filtro desejado */
    z-index: -1; /* Deixa atrás do conteúdo */
}

.maxWidth{
    background-color: var(--primary-color);
}
.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4em;
}

.top_header_logo {
    width: 300px;
    margin: auto;
}

.top_header_nav ul {
    display: flex;             /* Flexbox ativo */
    gap: 2rem;                 /* Espaço entre os itens */
    list-style: none;
    margin-right: 5em;
    padding: 0;
}
.top_header_nav{
    margin: auto;
}
.top_header_nav a {
    display: inline-block;
    width: 184px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    background-image: url(/assets/img/background-link-nav.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    text-transform: uppercase;
}

.top_header_nav a:hover {
    background-image: url(/assets/img/background-link-nav-hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
.img-avatar{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    margin-left: 2em;
}

.conteiner {
    display: flex;
    align-items: center;      /* centraliza verticalmente */
    justify-content: center;  /* centraliza horizontalmente */
    height: calc(100vh - 130px); /* altura total da tela - altura do header */
}

#sobre-mim {
    position: relative;
    display: flex;
    width: 1000px;
    height: 547px;
    padding: 3rem;
    gap: 2rem;
    overflow: hidden; /* garante que o overlay não ultrapasse */
}

#sobre-mim .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/background-text.png);
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* aqui controla a opacidade da imagem */
    z-index: 0;
}

#sobre-mim > *:not(.overlay) {
    position: relative;
    z-index: 1; /* faz com que o conteúdo apareça acima da imagem */
}

#sobre-mim p {
    font-size: 1.6rem;
    max-width: 500px;
    line-height: 1.5;
}
.text-sobre{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 5em;
}

.h1-sobre-mim {
    font-size: 3.6rem;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    gap: 0.5rem; /* Espaçamento entre a imagem e o texto, opcional */
    justify-content: center;
    color: var(--secundary-color);
}

.img-seta-h1{
    width: 70px;
    animation: img-seta-h1 1s infinite;
}
@keyframes img-seta-h1 {
    30% {opacity: 0%;}
}